/static/


/users/__pycache__/
/users/migrations/__pycache__/

/ExpenseTracker/__pycache__/
/ExpenseTracker/aws/__pycache__/
/ExpenseTracker/settings/__pycache__/

/expenses/__pycache__/
/expenses/migrations/__pycache__/


